<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
				
		<title>Laib Auto | About</title>
		
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{url_for('static',filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
		

	</head>


	<body>
		
		<div id="site-content">
			
			<header class="site-header">
				<div class="container">
					<a id="branding" href="index.html">
						<img src="{{url_for('static',filename='images/test3.png') }}" style="height: 50px,width:50px" alt="Company Logo" class="logo">
						<h1 class="site-title" style="color: yellow">Laib<span>Auto</span></h1>
					</a>

					<nav class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Accueil</a></li>
							<li class="menu-item"><a href="{{url_for('.OurCars')}}">Nos Voitures</a></li>
							<li class="menu-item"><a href="{{url_for('.About')}}">A Propos</a></li>
							<li class="menu-item"><a href="{{url_for('.ContactUs')}}">Contact</a></li>
							<li class="menu-item"><a href="{{url_for('.login')}}">Connexion</a></li>
						</ul>
					</nav>
					<nav class="mobile-navigation"></nav>
				</div>
			</header>
			<main class="main-content">
				
				<div class="fullwidth-block content">
					<div class="container text-center">
						<h3>Nos Voitures</h3>
						<div class="row">
							{% if cars %}
							{% for i in cars %}
							{% set list1=i.Photos.split(',')[0] %}
							<div class="col-md-4">
								<div class="card">
  									<img class="card-img-top" src="{{url_for('static',filename='Uploaded_images/'+list1)}}" style="height: 350px;width:auto"  alt="Card image">
  									<div class="card-body">
  									  <h4 class="card-title">{{i.Name}}</h4>
  									  <p class="card-text">{{i.Marque}} {{i.Name}}</p>
  									  <a href="{{url_for('.ViewCar',id=i.id)}}" class="btn btn-lg btn-warning" style="color: black">Consulter</a>
  									</div>
									</div>
							</div>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>

			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="subscribe-form">
						
					</div>
					<div class="social-links">
						<a href="https://www.facebook.com/Laib-auto-101391698318905"><i class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/laibautomoto/?hl=en"><i class="fa fa-instagram"></i></a>
						<a href="https://www.ouedkniss.com/store/?id=6748"><i class="fa fa-ouedkniss">O</i></a>
					
					</div>
					<div class="copy">
						<p>Copyright 2020 SMART BOX SOLUTION. Designed by SMART BOX SOLUTION. All rights reserved.</p>
					</div>
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->

		

		<script src="{{url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
		<script src="{{url_for('static',filename='js/plugins.js') }}"></script>
		<script src="{{url_for('static',filename='js/app.js') }}"></script>
		
	</body>

</html>